<!-- ******Header****** -->
<header class="header text-center">
    <div class="container">
        <div class="branding">
            <h1 class="logo">
                <fa-icon class="icon" icon="file-code"></fa-icon>
<!--                <span aria-hidden="true" class="icon_documents_alt icon"></span>-->
                <span class="text-highlight"> ZID-IS</span><span class="text-bold"> Playground</span>
            </h1>
        </div><!--//branding-->
        <div class="tagline">
            <p>Tools and Documentations for Testing, CI/CD, DevOps, and ...</p>
            <p>Created with <fa-icon class="fa-heart" icon="heart"></fa-icon> for developers</p>
        </div><!--//tagline-->

        <div class="main-search-box pt-3 pb-4 d-inline-block">
            <form class="form-inline search-form justify-content-center" action="" method="get">

                <input type="text" placeholder="Enter search terms..." name="search" class="form-control search-input">

                <button type="submit" class="btn search-btn" value="Search"><fa-icon icon="search"></fa-icon></button>

            </form>
        </div>
    </div><!--//container-->
</header><!--//header-->
