<html lang="en">
<head>
    <title>{{title}}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Michael Wutti">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>

</head>

<body class="landing-page">

<div class="page-wrapper">
    <app-landing-header></app-landing-header>

    <section class="cards-section text-center">
        <div class="container">
            <h2 class="title">Getting started is easy!</h2>
            <div class="intro">
                <p>Welcome to prettyDocs. This landing page is an example of how you can use a card view to present
                    segments of your documentation. You can customise the icon fonts based on your needs.</p>
            </div><!--//intro-->

            <div id="cards-wrapper" class="cards-wrapper row">
                <app-landing-card-item class="col-lg-4 col-6" [cardIcon]="['fab','gitlab']"
                                       color="pink" cardTitle="GitLab CI/CD Runner"
                                       cardIntro="Install and register GitLab CI/CD Runners">
                </app-landing-card-item>

                <app-landing-card-item class="col-lg-4 col-6" cardIcon="file-code"
                                       color="orange" cardTitle="CI/CD Tools"
                                       cardIntro="Compile, Test, Package, and Deploy your application within the CI/CD Pipeline">
                </app-landing-card-item>

                <app-landing-card-item class="col-lg-4 col-6" [cardIcon]="['fab','docker']"
                                       color="blue" cardTitle="Docker"
                                       cardIntro="Useful Guides to create Docker Images">
                </app-landing-card-item>

                <app-landing-card-item class="col-lg-4 col-6" cardIcon="tasks"
                                       color="green" cardTitle="Software Testing"
                                       cardIntro="Guides that help you to test your software">
                </app-landing-card-item>


                <div class="item item-pink item-2 col-lg-4 col-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span aria-hidden="true" class="icon icon_puzzle_alt"></span>
                        </div><!--//icon-holder-->
                        <h3 class="title">Components</h3>
                        <p class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                        <a class="link" href="components.html"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-blue col-lg-4 col-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span aria-hidden="true" class="icon icon_datareport_alt"></span>
                        </div><!--//icon-holder-->
                        <h3 class="title">Charts</h3>
                        <p class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                        <a class="link" href="charts.html"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-purple col-lg-4 col-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span aria-hidden="true" class="icon icon_lifesaver"></span>
                        </div><!--//icon-holder-->
                        <h3 class="title">FAQs</h3>
                        <p class="intro">Layout for FAQ page. Lorem ipsum dolor sit amet, consectetuer adipiscing
                            elit</p>
                        <a class="link" href="faqs.html"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-primary col-lg-4 col-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span aria-hidden="true" class="icon icon_genius"></span>
                        </div><!--//icon-holder-->
                        <h3 class="title">Showcase</h3>
                        <p class="intro">Layout for showcase page. Lorem ipsum dolor sit amet, consectetuer adipiscing
                            elit </p>
                        <a class="link" href="showcase.html"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-orange col-lg-4 col-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span aria-hidden="true" class="icon icon_gift"></span>
                        </div><!--//icon-holder-->
                        <h3 class="title">License &amp; Credits</h3>
                        <p class="intro">Layout for license &amp; credits page. Consectetuer adipiscing elit.</p>
                        <a class="link" href="license.html"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//cards-->

        </div><!--//container-->
    </section><!--//cards-section-->
</div><!--//page-wrapper-->

<app-footer></app-footer>
</body>
</html>

